@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: #463F3A;
    background: #BCB8B1;
}

/* header */

.header {
    background: #F4F3EE;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 20px;
}

/* Nav menu */

.menu {
    background-color: #F4F3EE;
    text-align: center;
}

.menu a {
    color: #463F3A;
    text-decoration: none;
    padding: 15px 70px;
    font-size: 30px;
}

.menu a:hover {
    color: #E0AFA0;
}

/* image section */

.image {
    background: url(../images/anastase-maragos-7kEpUPB8vNk-unsplash.jpg) no-repeat center center;
    height: 900px;
    width: 100%;
    background-size: cover;
}

/* footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #F4F3EE;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    color: #463F3A;
    font-size: 130%;
    padding: 10px 80px;
}

/* responsivnes */

@media screen and (max-width: 700px){
    .menu a {
        display: block;
    }
}


