@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: #463F3A;
}

/* headings */



/* header and footer */
header, footer {
    position: absolute;
    background-color: #E0AFA0;
    width: 100%;
}

header {
    height: 5vh;
}

header h2 {
    position: absolute;
    margin-top: 6px;
    margin-left: 30px;
    font-size: 250%;
    letter-spacing: 3px;
}
footer {
    height: 10vh;
    bottom: 0;
}

footer h2 {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
}

.menu {
    position: absolute;
    width: 100%;
}

.menu li {
    display: inline;
    float: right;
}

.menu a {
    position: relative;
    text-decoration: none;
    font-size: 200%;
    margin-right: 30px;
    top: 10px;
    color: #463F3A;
}



